# =========================
# Python
# =========================
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# FastAPI / Backend
# =========================
backend/venv/
backend/__pycache__/
backend/app/__pycache__/

# =========================
# Node / Frontend
# =========================
node_modules/
frontend/node_modules/
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Secrets
# =========================
*.env
